Repository isakbosman/manna: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0, prettier --write

fix: implement comprehensive Plaid transaction sync improvements
  packages/backend/PLAID_SYNC_FIX_IMPLEMENTATION.md
  packages/backend/migrations/versions/20250917_1200_fix_plaid_sync_schema.py
  packages/backend/src/database/models.py
  packages/backend/src/routers/plaid.py
  packages/backend/src/services/plaid_service.py
  packages/backend/test_plaid_sync_comprehensive.py
  packages/backend/validate_sync_fix.py
Due: prettier --write

feat: implement AES-256-GCM encryption and fix optimistic locking
  packages/backend/ENCRYPTION_LOCKING_IMPLEMENTATION.md
  packages/backend/IMPLEMENTATION_SUMMARY.md
  packages/backend/migrations/versions/20250918_0600_upgrade_to_aes256_gcm.py
  packages/backend/models/plaid_item.py
  packages/backend/simple_encryption_test.py
  packages/backend/src/config.py
  packages/backend/src/core/__init__.py
  packages/backend/src/core/audit.py
  packages/backend/src/core/database.py
  packages/backend/src/core/encryption.py
  packages/backend/src/core/encryption_aes256.py
  packages/backend/src/core/locking.py
  packages/backend/src/core/locking_fixed.py
  packages/backend/src/core/secrets.py
  packages/backend/test_core_only.py
Due: prettier --write

fix: implement AAD timestamp bug fix and SQLAlchemy import corrections
  packages/backend/CORE_FIXES_IMPLEMENTATION_SUMMARY.md
  packages/backend/scripts/verify_core_fixes.py
  packages/backend/src/core/encryption.py
  packages/backend/src/core/locking.py
  packages/backend/test_aad_timestamp_fix.py
  packages/backend/test_core_fixes_integration.py
  packages/backend/test_sqlalchemy_import_fix.py
  packages/backend/tests/test_optimistic_locking.py
Due: prettier --write

Many fixes from clean db create
  packages/backend/migrations/versions/005_seed_tax_categories_and_chart.py
  packages/backend/migrations/versions/006_add_missing_transaction_columns.py
  packages/backend/migrations/versions/007_add_account_iso_currency_code.py
  packages/backend/migrations/versions/20240908_1200_001_initial_schema.py
  packages/backend/migrations/versions/20250118_fix_cursor_column.py
  packages/backend/migrations/versions/20250917_1200_fix_plaid_sync_schema.py
  packages/backend/migrations/versions/20250918_0430_seed_initial_data.py
  packages/backend/migrations/versions/20250918_0500_encrypt_access_tokens.py
  packages/backend/migrations/versions/20250918_0600_upgrade_to_aes256_gcm.py
  packages/backend/migrations/versions/20250918_1400_004_tax_categorization_system.py
  packages/backend/src/core/database.py
  packages/backend/src/database/models.py
  packages/backend/src/dependencies/auth.py
  packages/backend/src/routers/accounts.py
  packages/backend/src/routers/dashboard.py
  packages/backend/src/routers/plaid.py
  packages/backend/src/routers/transactions.py
Due: none

Fixed the transactions page
  packages/backend/src/routers/transactions.py
  packages/backend/src/schemas/transaction.py
  packages/frontend/src/lib/api/transactions.ts
Due: eslint --fix --max-warnings 0, prettier --write

docker update
  docker-compose.yml
Due: none

Completed production sync and also added historical accounts sync
  .env.sample
  docker-compose.yml
  packages/backend/TESTING_SUMMARY_TAX_CATEGORIZATION.md
  packages/backend/src/config.py
  packages/backend/src/routers/plaid.py
  packages/backend/src/services/plaid_service.py
  packages/backend/tests/run_tax_categorization_tests.py
  packages/backend/tests/test_report_tax_categorization.md
  packages/backend/tests/test_tax_categorization_database.py
  packages/backend/tests/test_tax_categorization_e2e.py
  packages/frontend/src/app/accounts/page.tsx
  packages/frontend/src/app/dashboard/page.tsx
  packages/frontend/src/hooks/use-dashboard.ts
  packages/frontend/src/lib/api/accounts.ts
Due: eslint --fix --max-warnings 0, prettier --write

Path conditions:
  eslint --fix --max-warnings 0: any of: packages/**/*.{ts,tsx,js,jsx}
  prettier --write: (any of: packages/**/*.{ts,tsx,js,jsx}) or (any of: packages/**/*.{json,md,yml,yaml})
